<!DOCTYPE html>
<html>
  <head>
    <title>Delete Blog Post</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="second-container">
      <div class="container">
        <h1>Delete Blog Post</h1>
        <form action="/blogs/delete" method="POST">
          <label for="selectedPost">Select a Blog Post to Delete:</label>
          <select name="selectedPost" id="selectedPost">
            <% for (let i = 0; i < blogArticles.length; i++) { %>
            <option value="<%= blogArticles[i].id %>">
              <%= blogArticles[i].title %>
            </option>
            <% } %>
          </select>
          <br />
          <button type="submit">Delete</button>
        </form>
      </div>
    </div>
  </body>
</html>
