<!DOCTYPE html>
<html>
  <head>
    <title>Edit Blog Post</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="second-container">
      <div class="container">
        <h1>Edit Blog Post</h1>
        <form action="/blogs/edit" method="POST">
          <label for="selectedPost">Select Blog Post:</label>
          <select id="selectedPost" name="selectedPost" required>
            <!-- Loop through the available blog posts and populate the dropdown options -->
            <% for (let i = 0; i < blogArticles.length; i++) { %>
            <option value="<%= blogArticles[i].id %>">
              <%= blogArticles[i].title %>
            </option>
            <% } %>
          </select>
          <br />
          <!-- Add input fields for editing the selected blog post -->
          <label for="editedTitle">Edited Title:</label>
          <input type="text" id="editedTitle" name="editedTitle" required />
          <br />
          <label for="editedContent">Edited Content:</label>
          <textarea id="editedContent" name="editedContent" required></textarea>
          <br />
          <button type="submit">Edit Blog Post</button>
        </form>
      </div>
    </div>
  </body>
</html>
