<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Profile</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="second-container">
      <div class="container">
        <h1>Edit Profile</h1>

        <!-- Display any success or error messages here -->
        <% if (successMessage) { %>
        <p class="success"><%= successMessage %></p>
        <% } %> <% if (errorMessage) { %>
        <p class="error"><%= errorMessage %></p>
        <% } %>

        <form class="edit-form" action="/users/edit-profile" method="POST">
          <div class="form-group">
            <label for="newUsername">New Username</label>
            <input
              type="text"
              placeholder="Write your new username"
              id="newUsername"
              name="newUsername"
              required
            />
          </div>
          <div class="form-group">
            <label for="newPassword">New Password</label>
            <input
              type="password"
              placeholder="Write you new password"
              id="newPassword"
              name="newPassword"
              required
            />
          </div>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div class="form-group">
            <button type="submit">Update Profile</button>
          </div>
        </form>
        <a href="/">Back to Blogs</a>
      </div>
    </div>
  </body>
</html>
