<!DOCTYPE html>
<html>
  <head>
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h3><%= escapeHtml(username) %></h3>
    <form action="users/logout" method="GET">
      <button class="logout-button" type="submit">Logout</button>
    </form>
    <div class="margin-div">
      <!-- Add Blog Post Button -->
      <% if (user && user.role === 'admin') { %>
      <button class="add-blog-button" onclick="location.href='/blogs/new'">
        Add Blog Post
      </button>
      <% } %>

      <!-- Edit Blog Post Button -->
      <% if (user && user.role === 'admin') { %>
      <button class="edit-blog-button" onclick="location.href='/blogs/edit'">
        Edit Blog Post
      </button>
      <% } %>

      <!-- Delete Blog Post Button -->
      <% if (user && user.role === 'admin') { %>
      <button
        class="delete-blog-button"
        onclick="location.href='/blogs/delete'"
      >
        Delete Blog Post
      </button>
      <% } %>

      <button
        class="delete-blog-button"
        onclick="location.href='users/edit-profile'"
      >
        Edit Profile
      </button>
    </div>
    <div class=".index-container">
      <!-- Display the blog articles here -->
      <div class="blog-articles">
        <% blogArticles.forEach(function(article) { %>
        <div class="blog-article">
          <h2><%= article.title %></h2>
          <p><%= article.content %></p>
          <!-- Add more details or buttons for editing/deleting articles if needed -->
        </div>
        <% }); %>
      </div>
    </div>
  </body>
</html>
