<!DOCTYPE html>
<html>
  <head>
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="second-container">
      <div class="container">
        <h1>Welcome to your profile, <%= escapeHtml(username) %></h1>
        <form action="users/logout" method="GET">
          <button class="logout-button" type="submit">Logout</button>
        </form>
      </div>
    </div>
  </body>
</html>
