<!DOCTYPE html>
<html>
  <head>
    <title>Product Details</title>
  </head>
  <body>
    <ul>
      <li>
        <h2><%= matchingElement.name %></h2>
        <p><%= matchingElement.description %></p>
        <p>Price: $<%= matchingElement.price.toFixed(2) %></p>
      </li>
    </ul>
  </body>
</html>
