* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  height: 100%;
  font-family: "SFProDisplayRegular", sans-serif;
  background-color: #f0f2f5;
}

input {
  border: 2px solid #dddfe2;
  border-radius: 5px;
  color: #1d2129;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 16px;
  border-style: solid;
  border-width: 2px;
  padding: 0 8px;
  display: inline-block;
  text-indent: 10px;
  margin-top: 15px;
  height: 3.2em;
  width: 92%;
}

.loginform {
  height: auto;
  width: 23vw;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  display: inline-block;
  position: relative;
  margin-top: 13%;
  margin-left: 54.7%;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
}

.right {
  position: fixed;
  margin-top: 17%;
  margin-left: 20%;
}

#facebookpres {
  padding-left: 5%;
}

#forgot {
  font-family: Helvetica;
  font-weight: lighter;
  color: #1877f2;
}

#para {
  font-family: Helvetica;
  display: inline-block;
  margin-top: 1.8em;
  margin-left: 58.2%;
  text-align: center;
}

.right h2 {
  font-size: 28px;
  font-weight: normal;
  line-height: 32px;
  width: 80%;
}

#facebooklogo {
  height: 8em;
}

#hr {
  border-bottom: 1px solid #dadde1;
}

@font-face {
  font-family: SFProDisplayRegular;
  src: url("font/SFProDisplayRegular.otf");
}

#login {
  height: 55px;
  width: 92%;
  font-size: 23px;
  font-weight: bold;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 0.5em;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #1877f2;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

#forgot {
  text-decoration: none;
}

#register {
  height: 55px;
  width: 55%;
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 1em;
  margin-bottom: 1.5em;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #42b72a;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
