@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* SMOOTHER SCROLLING*/
html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Roboto', sans-serif;
  }

  .itext{
    height: 45px;
    width: 30%;
    text-indent: 12px;
    margin-bottom: 5px;
    border: 3px solid black;
    border-radius: 20px;
  }

  #sbutton{
    margin-left: 8px;
    height: auto;
    width: auto;
  }

  .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .yheader{
    height: auto;
    width: auto;
    align-items: center; 
    display: flex;
    justify-content: space-between;
  }

  #logopng{
    flex: 1;
    cursor: pointer;
    height: 35px;
    width:140px ;
    margin-left: 15px;
  }

  .ham{
    height: 100%;
    width: 100%;
    cursor: pointer;
    margin-left: 15px;
    flex: 1;
  }

  .binput{
    height: 40px;
    width:100%;
    text-align: center;
  }

  #account{
    flex: 1;
    height: 50px;
    width:50px ;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 50px;
    margin-right: 15px;
    margin-left: 15px;
  }

  .notifi{
    height: auto;
    cursor: pointer;
    width: auto;
  }

  .video-container{
    height: auto;
    width: auto;
    margin-left: 20px;
    justify-content: space-between;
  }

  .card {
    display: flex;
    align-items: center;
    height: auto;
    cursor: pointer;
    margin-bottom: 5%;
    width: 90%;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 15px;
  }
  
  .container{
    display: flex;
    justify-content: space-between;
    margin: auto;
  }

  .card img {
    width: 15em;
    height: 8em;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  
  .card-content {
    flex-grow: 1;
  }
  
  .card-title {
    width: 85%;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
  
  .card-description {
    font-size: 14px;
    margin: 5px 0 0 0
  }

  .smallvideo-container{
    height: auto;
    width: auto;
    flex: 1;
    margin-left: 25px;
    justify-content: space-between;
  }

.video1{
  align-self:flex-start; 
  flex: 1;
  }

  .channel{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    border-radius: 50px;
    margin-left: 10px;
  }

  #channel{
    height: 60px;
    width: 60px;
    border: 1px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 100px;
    margin-left: 10px;
  }

  #videop{
  margin-top: 15px;
  font-size: 25px;
  }

  #channelt{
    height: auto;
    width: auto;
    margin-bottom: 5px;
    margin-left: 15px;
    align-items: center;
    font-weight: bold;
  }

  #subtext{
    height: auto;
    width: auto;
    
    margin-left: 10px;    
    font-weight: bold;
  }

  .subs{
    height: 45px;
    width: 120px;
    color: white;
    display: flex;
    cursor: pointer;
    margin-left: 20px;
    align-items: center;
    justify-content: center;    
    border: 1px solid white;
    border-radius: 20px;
    background-color: black;
    }

  .description{
  height: auto;
  width: auto;
  text-align: center;
  }

  #channelt2{
    height: auto;
    width: auto;
    margin-bottom: 5px;
    margin-left: 15px;
    }